* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

.name {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #F3C677;
    padding: 1%;
}

.navbar{
    background-color: #0C0A3E;
}

.signInButton{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}

.data{
    color: white;
    text-align: center;
}


.messages{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}

.messagesBody{
  width: 50%;
  text-align: center;
  float:right;
  padding-right:20%;
  padding-top: 1%;
}

.messageBox{
    text-align: left;
}

li{
  list-style-type: none;
  margin-bottom: 10px;
  background-color: rgb(247, 247, 247);
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}

.messageBox .input {
    height: 25px;
    width: 90%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.messageBox form .field input:focus{
    border-color: #fc83bb;
  }
  .messageBox form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }


a:link{text-decoration: none;}
a:visited{color: white;text-decoration: none;}
a:hover{color: #F3C677;text-decoration: none;}
a:active{color:white;text-decoration: none;}


.wrapper{
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    float: left;
  }
  .wrapper .title-text{
    display: flex;
    width: 200%;
  }
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }

  input[type="radio"]{
    display: none;
  }

  .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .insideLogin{
    display: flex;
    width: 200%;
  }
  .form-container .insideLogin form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .insideLogin form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .insideLogin form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .insideLogin form .field input:focus{
    border-color: #fc83bb;
  }
  .insideLogin form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .insideLogin form .pass-link{
    margin-top: 5px;
  }
  .insideLogin form .signUp-link{
    text-align: center;
    margin-top: 30px;
  }
  .insideLogin form .pass-link a,
  .insideLogin form .signUp-link a{
    color: #fa4299;
    text-decoration: none;
  }
  .insideLogin form .pass-link a:hover,
  .insideLogin form .signUp-link a:hover{
    text-decoration: underline;
  }
  
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="button"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }